{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'static_file/css/sample.css' %}">
<h1>{{ name|upper }}</h1>
<h1>{{ page_url|urlize }}</h1>
<p>BMI: {{ bmi|floatformat:2 }}</p>
<p>給料: {{ salary|default:'秘密' }}</p>
<p>{{ fruits|random|lower }}</p>
<p>{{ fruits|join:', ' }}</p>
<p>{{ msg|linebreaks }}</p>
<p>{{ msg2|truncatechars:7 }}</p>

<a href="{% url 'template_app:home' first_name='Taro' last_name='Yamada' %}">Home</a>

<img src="{% static 'static_file/image/sample.jpg' %}">