{% extends 'base.html' %}
{% block content %}
<div class="col-10 offset-1">
<h2>商品一覧</h1>
<form method="get" action="{% url 'stores:product_list' %}">
  <p>商品タイプ: <input type="text" name="product_type_name" value="{{ product_type_name }}"/></p>
  <p>商品名: <input type="text" name="product_name" value="{{ product_name }}"/></p>
  <p>値段で並び替える:
     昇順<input type="radio" name="order_by_price" value="1" {% if ascending %}checked{% endif %}>
     降順<input type="radio" name="order_by_price" value="2" {% if descending %}checked{% endif %}>
  </p>
  <p><input type="submit" value="実行する"/></p>
</form>
<table class="table table-striped table-bordered">
<thead>
  <tr>
     <td>種類</td>
     <td>製品名</td>
     <td>値段</td>
     <td>在庫数</td>
     <td>製造元</td>
  </tr>
</thead>
<tbody>
{% for product in object_list %}
  <tr>
     <td>{{ product.product_type.name }}</td>
     <td><a href="{% url 'stores:product_detail' pk=product.id %}">{{ product.name }}</a></td>
     <td>{{ product.price }}円</td>
     <td>{{ product.stock }}個</td>
     <td>{{ product.manufacturer.name }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}