.mail-class{
    color: blue;
    width: 70%;
}
label[for="id_mail"]{
    color: red;
}
#job{
    color: green;
}
.job-class{
    padding-left: 10px;
}
.hobbies_class{
    padding-left: 10px;
    color: blue;
}