{% extends 'base.html' %}
{% block content %}
    <div class="col-10 offset-1">
        {% if cart_items %}
            <table class="table">
                <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td class="align-middle" style="width:20%">
                            {% if cart_item.picture %}
                                <img width="75px" height="75px" src="{{ cart_item.picture.url }}">
                            {% endif %}
                            </td>
                            <td class="align-middle" style="width:20%">
                                {{ cart_item.name }}<br>{{ cart_item.price }}円
                            </td>
                            <td class="align-middle" align="right">
                                <input type="number"
                                    id="quantity_{{ cart_item.product_id }}"
                                    value="{{ cart_item.quantity }}"
                                    min="1"
                                    style="width: 80px">
                                <button class="btn btn-warning update-cart"
                                data-product-id="{{ cart_item.product_id }}">変更する</button>
                                <button class="btn btn-danger delete-from-cart"
                                data-product-id="{{ cart_item.product_id }}">削除する</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <h3 class="offset-9">合計: {{ total_price }}円</h3>
            <a class="offset-9 btn btn-secondary" href="{% url 'stores:set_address' %}">住所を設定する</a>
        {% else %}
            <h2>カートに商品が入っていません</h2>
        {% endif %}
    </div>
    {% csrf_token %}
    <script>
        function handleCartOperation(method, productId){
            const token = document.querySelector('input[name=csrfmiddlewaretoken]').value;
            const quantity = document.getElementById(`quantity_${productId}`).value;
            const data = {
                product_id: productId,
                quantity: quantity
            }
            fetch("{% url 'stores:cart_item' %}", {
                method: method,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token,
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(json => {
                alert(json.message);
                location.reload();
            })
            .catch(error => {
                alert(error.message)
            })
        }
        document.querySelectorAll('.update-cart').forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.dataset.productId;
                handleCartOperation('PUT', productId);
            })
        })
        document.querySelectorAll('.delete-from-cart').forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.dataset.productId;
                if (confirm('削除しますか？')){
                    handleCartOperation('DELETE', productId);
                }
            })
        })
    </script>
{% endblock %}