<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}大学陸上部{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'app:home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'app:members' %}">メンバー一覧</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>